@import url('https://fonts.googleapis.com/css?family=Arimo|Macondo');

/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
	font-family: 'Arimo', sans-serif;
	background-color: #e3da9c;
}

/*
USE FLEXBOX!
and own Sketch images
*/

/*
HEADER:
*/
header{
	text-align: center;
	background-color: #9ce3be;
	padding: 1.5em 1em;
}
header > h1 {
	font-family: 'Macondo', cursive;
	font-size: 50px;
	margin: 0;
}
/*
SECTION - FLEXWRAPPER
*/

.flexWrapper{
	display: flex;
	flex-direction: column;
	background-color: #e3c89c;
}
/*
INTRO PARA AND RULES
*/
.introFlexCont {
	background-color: #e39cd2;
	width: 80%;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	padding: 0 1em;
}

ul{
	-webkit-margin-before: 0;
	-webkit-padding-start: 0px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-start;
}
li {
	display: flex;
	align-items: center;

}
.fa-angle-right {
	margin: 0.25em;
}
.liRulesIcon {
	width: 4em;
	height: 4em;
	border-radius: 50%;
	border: 1px solid black;
	display: inline-block;
	line-height: 4em;
    text-align: center;
}
.liRulesIcons {
	display: inline-block;
    text-align: center;
}
/*
MAKE A CHOICE ROW
*/
.choiceRowFlexCont {
	display: flex;
	background-color: #F9F5ED;
	width: 80%;
	margin: 0 auto;
	padding: 0 1em;
	justify-content: center;
	align-items: center;
}
.userChoice {
	height:50px;
	width: 50px;
	border-radius: 50%;
	border: 2px solid #3F6E59;
	background: #D2E39C;
	margin: 0.5em 1em;

	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;

}
.userChoice:hover{
	background-color: #3F6E59;
	cursor: pointer;
}

/*
PICTURE ROW
*/
.picdivFlexCont{
	display: flex;
	justify-content: space-around;
	background-color: #F9F5ED;
	width: 80%;
	margin: 0 auto;
	padding: 0 1em;
}

.picDiv >img {
	width: 200px;
}